<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="shortcut icon" href="/static/vcard/images/favicon.ico" />
        <link href="/static/vcard/css/styles.css" rel="stylesheet">
        <link href="/static/vcard/css/magnific-popup.css" rel="stylesheet">
    </head>
    <body>
        <div id="birds"></div>
        <div class="wrapper">

            <div class="container">
                <div class="head">
                    <img src="/static/vcard/images/archi_curved_house_2.png"
                        style="width: 60% !important;" alt=""
                    />
                    <h1>{{ h1 }}</h1>
                    <ul class="categories">
                        <li><a id="projects_nav" href="#">projects</a></li>
                        <li><a id="contacts_nav" href="#">contacts</a></li>
                        <li><a id="about_me_nav" href="#">about me</a></li>
                    </ul>
                </div>
                <div id="content" class="content">
                    <script type="text/mustache_template">
                        {% verbatim %}
                            {{#has_tags}}
                                <ul class="projects_tags" id="projects_tags">
                                    {{#tags}}
                                        <li>
                                            <a href="#" id="{{url_name}}">
                                                {{caption}}
                                            </a>
                                        </li>
                                    {{/tags}}
                                </ul>
                                <div id="projects" class="projects">
                                    {{#projects}}
                                        <div class="project">
                                            <div class="photo">
                                                <a title="{{caption}}" href="{{url}}">
                                                    <img src="{{main_picture.url}}" alt="" />
                                                </a>
                                            </div>
                                            <span class="caption">{{caption}}</span>
                                        </div>
                                    {{/projects}}
                                </div>
                            {{/has_tags}}
                            {{#contacts}}
                                <div class="contacts">
                                    <ul>
                                        <li>{{text}}</li>
                                    </ul>
                                </div>
                            {{/contacts}}
                            {{#about_me}}
                                <div class="about_me">
                                    {{.}}
                                </div>
                            {{/about_me}}

                        {% endverbatim %}
                    </script>
                </div>
            </div>

        </div>


        <script src="/static/vcard/js/jquery-1.11.3.min.js" charset="utf-8"></script>
        <script src="/static/vcard/js/jquery.magnific-popup.min.js" charset="utf-8"></script>
        <script src="/static/vcard/js/script.js" charset="utf-8"></script>

        <script src="/static/vcard/js/birds/build/three.min.js"></script>
		<script src="/static/vcard/js/birds/renderers/Projector.js"></script>
		<script src="/static/vcard/js/birds/renderers/CanvasRenderer.js"></script>
		<script src="/static/vcard/js/birds/libs/stats.min.js"></script>
		<script src="/static/vcard/js/birds/obj/Bird.js"></script>
		<script src="/static/vcard/js/mustache.min.js"></script>
		<script src="/static/vcard/js/birds/script.js"></script>
    </body>
</html>
