<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>architect</title>
        <link rel="shortcut icon" href="/static/vcard/images/favicon.ico" />
        <link href="/static/vcard/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <div id="birds"></div>
        <div class="wrapper">

            <div class="container">
                <div class="head">
                    <img src="/static/vcard/images/archi_curved_house_2.png"
                        style="width: 60% !important;" alt=""
                    />
                    <h1>{{ h1.text }}</h1>
                    <ul class="categories">
                        <li><a id="projects_nav" href="#">projects</a></li>
                        <li><a id="contacts_nav" href="#">contacts</a></li>
                        <li><a id="about_me_nav" href="#">about me</a></li>
                    </ul>
                </div>
                <div id="content" class="content">

                </div>
            </div>

        </div>


        <script src="/static/vcard/js/jquery-1.11.3.min.js" charset="utf-8"></script>
        <script src="/static/vcard/js/script.js" charset="utf-8"></script>

        <script src="/static/vcard/js/birds/build/three.min.js"></script>
		<script src="/static/vcard/js/birds/renderers/Projector.js"></script>
		<script src="/static/vcard/js/birds/renderers/CanvasRenderer.js"></script>
		<script src="/static/vcard/js/birds/libs/stats.min.js"></script>
		<script src="/static/vcard/js/birds/obj/Bird.js"></script>
		<script src="/static/vcard/js/birds/script.js"></script>
    </body>
</html>
