<div id="project_details" class="project_details">
    <h1>{{ project.caption }}</h1>
    <div class="table">
        <div id="picture_preview" class="cell">
            <a href="{{ project.get_main_picture.source.url }}">
                <img class="preview" src="{{ project.get_main_picture.source.url }}"/>
            </a>
        </div>
        <div class="cell">
            <div id="additional_pictures" class="additional_pictures">
                {% for picture in project.get_sorted_pictures %}
                    <a href="{{ picture.source.url }}">
                        <img class="thumb" src="{{ picture.source.url }}"/>
                    </a>
                {% endfor %}
            </div>
            <div style="clear: both"></div>
            <div class="description">Description</div>
        </div>
    </div>
</div>
