<div id="project_details" class="project_details">
    <h1>{{ project.caption }}</h1>
    <div class="table">
        <div id="picture_preview" class="cell">
            <img class="preview" src="{{ project.get_main_picture.source.url }}"/>
        </div>
        <div class="cell">
            <div id="additional_pictures" class="additional_pictures">
                {% for picture in project.pictures.all %}
                    <a href="{{ picture.source.url }}">
                        <img class="thumb" src="{{ picture.source.url }}"/>
                    </a>
                {% endfor %}
                <div class="unfloat"></div>
            </div>
            <p class="description">Description</p>
        </div>
    </div>
</div>
